body {
  height: 100vh;
  margin: 0;
}

.panzoom {
  text-align: center;
  background: green;
  height: 100%;
  width: 100%;
}

#Layer_1 {
  height:100%;
  width:100%;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.bodypart {
  opacity: 0.1;
  cursor: pointer;
}

.bodypart.opaque {
  opacity: 1;
}

.glossary {
  background: white;
  border: 1px solid black;
  display: none;
  min-height: 200px;
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
}

.glossary-header {
  text-align: center;
}

#csv-file {
  position: absolute;
  top: 0;
  left: 20;
}

.glossary-definition.hidden {
  display: none;
}


