body {
  height: 100vh;
  margin: 0;
}

.panzoom {
  text-align: center;
  background: green;
  height: 100%;
  width: 100%;
}

#Layer_1 {
  height:100%;
  width:100%;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.transparent {
    opacity: 0.1;
}

.opaque {
    opacity: 1;
}